 /* CSS styles for navigation and footer */
 

  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

 body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Lato', sans-serif;
 } 

 nav {
     background-color: #3f3d75;
     padding: 4px;
     height: fit-content;
     font-size:x-large;

 }

 footer {
     background-color: #3f3d75;
     padding: 10px;
 }

 
 .logo {
  
     margin-top: 1%;
     margin-left: 3%;
   
 }
 .navContainer
 {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items:center;
     
 }

 .nav {
 
     margin-left: 20px;
     display: flex;
     flex-direction: row;
 }

 .nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 .nav li {
     float: left;
 }

 .nav li a {
     display: block;
     color:white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 .nav li a:hover {
     background-color: #fff;
     color:#3f3d75;
 }

 .donate {
     margin-right: 3%;
 }

 .donate button {
     background-color:white;
     border: none;
     color: #3f3d75;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }
 .donate button:hover{
     background-color: #729CA8;
     color: #fff;
     cursor: pointer;
 }
    /*Header Hamburg menu */
    .menu-icon {
        display: none;
        cursor: pointer;
      
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .nav li {
        margin: 0 15px;
    }

    #menu-toggle {
        display: none;
    }

    
    #menu-toggle-label {
        display: none;
        cursor: pointer;
        font-size: 40px;
        color: white;
    }

    #menu-toggle:checked + #menu-toggle-label + .nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 60%;
        width: 20%;
        background-color: #333;
        z-index: 1;
        transition: all 0.3s ease;
    }

    #menu-toggle:checked + #menu-toggle-label {
    
        content: '✕';
    }

    /* Media query for mobile view header */
    @media screen and (max-width: 768px) {
        .nav li {
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }

        .menu-icon {
            display: block;
        }

        .donate {
            order: -1; 
        }

       
        #menu-toggle-label {
            display: block;
        }

        .nav ul {
            display: none;
        }

        #menu-toggle:checked + #menu-toggle-label + .nav ul {
            height: auto;
        }
      
    }
    @media all and (max-width: 500px) {
        #menu-toggle:checked + #menu-toggle-label + .nav ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 50%;
            width: 32%;
            background-color: #333;
            z-index: 1;
            transition: all 0.3s ease;
        }
        #menu-toggle-label {
           
            cursor: pointer;
            font-size: 40px;
            color: white;
            margin-left: 4%;
        }
    
    
       
    }


    /*Header Hamburg menu*/

 .hearo-main {
     margin-top: 2%;
     margin-left: 5%;
     margin-right: 5%;
     height: 400px;
     margin-bottom: 80px;
     background-image: linear-gradient(rgba(63, 61, 117, 0.7), rgba(63, 61, 117, 0.9)), url(images/jpeg-optimizer_Heropng.png);
     background-size: cover;
     position: relative;
     
     
    
   
 }
 .hearo-main p{
    color: white;
    font-size:70px;
    box-sizing: border-box ;
    border-style: none;
    margin: 0%;

  
 }
 .herotitle1 :nth-child(1){
    font-weight: 200;
 }
 .herotitle1 :nth-child(2){
    font-weight: 700;
 }

 .hearo-main img {
     width: 100%;
     height: 100%;
     opacity: 0.3;
     background-color: #9CAE81;
   
 }

 .herotitle1{
    position: absolute;
    left: 60%;
    top: 30%;
    border-bottom: 2px solid #f7ff00;
    padding-bottom: 20px;
 }

 /* CSS styles for hero image ends here */

 /* CSS styles for events section */

 .events-main {
     margin-left: 5%;
     margin-right: 5%;
     height: 140px;   
     padding: 20px;
     margin-bottom: 15px;
     
 }
 .forusMuseminfo{
    margin-left: 5%;
    margin-right: 10%;
    background-color: #edf1fa;
    height: 300px;
    width: 100;
    position: relative;
    margin-bottom: 5%;

 }
 .TotalinfoPandtir{
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 10%;
 }
    .forusMuseminfo h3{ 
        color: #3f3d75;

        font-size: large;
    }
 .forusMuseminfo p :nth-child(1){
    font-weight: 100;
}
 .forusMuseminfo p {
    font-weight:500;
 }
  
 .eventsTitle h3 {
  
     color: #3f3d75;
     margin-left: 7% ;
     font-size: large;
     border-bottom: #f7ff00 2px solid;
     width: 10%;
   

 }



 .evenethodler{

     border: 2px solid #729CA8;
     display: flex;
     height: 100%;
     width: 100;
    
    
     
   
 }
 .eventInfo{
    width: 30%;
    color: #3f3d75;
    display: inline;
    margin-left:  20px;
    flex: 3;

    
    
}
.eventInfo p{
    color: #3f3d75;
     font-size: 25px;
     font-weight: 600;
    }
    
    
    .availabilty{
        display: flex;
        color: #3f3d75;
        border-left: 2px solid;
        border-image: linear-gradient(to bottom, transparent 10%, #729CA8 10%,#729CA8 90%, transparent 90%) 1;
        
        
    margin-left: 50px;
    }

    
    
    .availabiltyDate{
     margin-left: 12%;
     width: 100%;
     
 }
 .availabiltyTime{
    margin-left: 15%;
    border-left: 2px solid #729CA8;
    padding-left: 20px;
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, transparent 10%, #729CA8 10%,#729CA8 90%, transparent 90%) 1;
    

 }
 
 .joinbtn{
     margin-left: 10%;
     height: 100%;
     background-color:#3f3d75 ;
     color: white;
     border: none;
     padding: 56px 56px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }
 .joinbtn:hover{
     background-color: #729CA8;
     color: #fff;
     cursor: pointer;
 }
 .HomePDonate{
     height: 100px;
     margin-bottom: 80px;
     background-color: #729CA8;
     display: flex;
     margin-top: 3%;
     margin-top:6% ;
 }
 .HomePDonate p{
     color: white;
     margin-left: 30%;
     font-size: x-large;
    
     
 }

 .HomePDonate button{
     margin-left: 5%;
     margin-top: 2%;
     height: 50%;
     background-color: white;
     border: none;
     color: #729CA8;
     padding: 5px 25px;
     height: 35px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;

 }
 .HomePDonate button:hover{
     background-color: #9CAE81;
     color: #fff;
     cursor: pointer;
 }
 .getinvolve{
    background-color: #3f3d75;
    margin-left: 4%;
    margin-right: 4%;
    height: 100px;
    margin-top: 5%;
    border-radius: 7px;
    display: flex;
    margin-bottom: 12%;
    
}

.getinvolve p{
    color: white;
    font-size: 30px;
    font-weight: 200;
    margin-left: 10px;
    margin-right: 20px ;
   
}

.joinbtn2{
    width: 180px;
    height: 30px;
    border: 1px solid #f7ff00;
    background-color: #3f3d75;
    color:#f7ff00;
    font-weight: lighter;
    margin-top: 6%;
    text-align: center;
    align-content: center;

  
}

.joinbtn2:hover{
    background-color: #f7ff00;
    color: #3f3d75;
    transition: 0.5s;
    cursor: pointer;
}
.getinvole2{
    display: flex;
    margin-left: 38%;
   
    
}
@media screen and (max-width: 768px) {
    .hero-main{
       margin-top: 2%;
       margin-left: 5%;
       margin-right: 5%;
       height: 150px;
       margin-bottom: 80px;
       background-image: linear-gradient(rgba(63, 61, 117, 0.7), rgba(63, 61, 117, 0.9)), url(images/jpeg-optimizer_Heropng.png);
       background-size: cover;
       position: relative;

    }
    .herotitle1 p{
       color: white;
       font-size:30px;
       box-sizing: border-box ;
       border-style: none;
       margin: 0%;
    }
    .forusMuseminfo{
       margin-left: 5%;
      margin-right: 10%;
      background-color: #edf1fa;
      height: 400px;
      width: 100%;
      position: relative;
      margin-bottom: 5%;

   }
    .TotalinfoPandtir p{
       font-size: 15px;
    }
   .eventsTitle h3 {
       color: #3f3d75;
       margin-left: 7% ;
       font-size: medium;
       border-bottom: #f7ff00 2px solid;
       width: 25%;


   }
   .events-main {
     height: 133px;   
     padding: 20px;
     margin-bottom: 15px;
     width: 100%;
     margin-bottom: 20px;

   }
   .eventInfo p{
     color: #3f3d75;
     font-size: 16px;
     font-weight: 600;
   }
 


 
   .getinvolve p{
       color: white;
       font-size: 20px;
       font-weight: 200;
       margin-left: 1%;
       margin-right:1% ;
      
   }
   .getinvole2{
       display: flex;
       margin-left: 6%;
      
       
   }
   
   .joinbtn2{
       width: 120px;
       height: 30px;
       border: 1px solid #f7ff00;
       background-color: #3f3d75;
       color:#f7ff00;
       font-weight: lighter;
       margin-top: 6%;
       text-align: center;
       align-content: center;
  
     
   }
 
   

   }
   @media screen and (max-width: 500px) {
    body{
        margin: 0;
        top: 2%;
        left: 2%;
        
    }
    .TotalinfoPandtir p{
        font-size: 13px;
     }

    .eventsTitle h3 {
            color: #3f3d75;
            margin-left: 7% ;
            font-size: medium;
            border-bottom:none;
        
    }
    .getinvole2{
    display: flex;
    margin-left: 2%;
   
    
   }
   .evenethodler{
    margin-left: 2%;
    
}
.joinbtn{
    margin-left: 10%;
    margin-right: 5%;
     height: 100%;
     background-color:#3f3d75 ;
     font-size: 14px;
     width: 100%;
}
.events-main{
    margin-left: 2%;
   
}
 .evenethodler{
    margin-left: 1%;
    margin-right: 5%;
 
 }


}        




 footer {
     background-color: #3f3d75;
     padding: 10px;
     height: 160px;
  
 }

 .footerUp{
     display: flex;
     justify-content: space-between;
     align-items:center;
     border-bottom: 2px solid white;
  
 }

 .footerLogo {
     margin-left: 5%;
 }

 .NavFooter {
     margin-right: 5%;
   
 }
 .NavFooter ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     font-size: larger;
  
  
 }

 .NavFooter li {
    margin-bottom: 10px;
  
 }

 .NavFooter li a {
     color: white;
  
  
 }

 .NavFooter li a:hover {
     color: #729CA8;
 }

 .LegalPol {
   color: white;
        
   
 }

 .LegalPol h4 {
     font-size: large;
     margin-top: 4%;
 }

 .LegalPol p {
     font-weight:100;
 }



 .contact {
     color: white;
     margin-left: 15%;
     margin-right: 12%;
     
 }

 .contact a {
     color: white;
     font-size: x-large;
     
 }


 .footerDown {
     color: white;
     margin-left: 35%;
     align-items: center;
 }
 .footerDown p {
     font-size: large;
     margin-top: 4%;
 }
   /*Foter Media query mobile */
   @media screen and (max-width: 768px) {
    .footer{
        background-color: #4d4d56;
        height: 300px;
    }
    .footerUp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        margin-bottom: 0%;
        border-bottom: 0px;
     
    }
    .LegalPol{
        margin-left: 3%;
    }
    .NavFooter{
        margin-right: 0%;
        margin-left: 2%;
    }
    .footerLogo{
        margin-bottom: 1%;
        margin-left: 10%;
    }

   .footerDown{
       margin-top: 0%;
       color: white;
       font-size: 8px;
       font-weight: 150;
       text-align: center;
       margin-top: 0%;
       margin-left: 5%;
   }
   
 
}
@media screen and (max-width: 500px) {
   
    footer{
        background-color: #3f3d75;
        height: 160px;
        margin-left: 4%;
        margin-right: 0px;
        padding-right: 0px;
       
        
        
    }
    .footerUp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        margin-bottom: 0%;
        border-bottom: 0px;
        width: 100%;
        left: 5%;
       
     
    }
    .LegalPol{
        margin-left: 2%;
       
    }
    .NavFooter{
        margin-right: 0%;
        margin-left: 2%;
      
    }
    .footerLogo{
        margin-top: 0%;
        margin-bottom: 1%;
        
    }
    .contact{
        display: none;
    }

   .footerDown{
       margin-top: 0%;
       color: white;
       font-size: 8px;
       font-weight: 150;
       text-align: center;
       margin-top: 0%;
       margin-left: 5%;
   }
   .LegalPol{
    margin-right: 0%;
    margin-left: 1%;
   }
   .contact{
    margin-right: 20%;
   }
}


 /* CSS styles for footer ends here */
 

 /*policy style ends here */
 .privacyTermsCond h3{
    color: #3f3d75;
}

.privacyTermsCond{
    margin-left: 4%;
    margin-right: 4%;
}
.privacyTermsCond h4 >*{
    margin-top: 0;
}
.privacyTermsCond h4{
    color: #1a2950;
}
.useOfwebsite li {
    margin-top: 0;
    margin-left: 5%;
}
.useOfwebsite li p{
    margin-top: 0;
    margin-left: 5%;
}
.useOfwebsite{
    display: inline;

}

  /*policy style ends here */

    /*getinvolved style starts here */
    .getinvolvedMain {
        margin-left: 4%;
        margin-right: 4%;
    }
    .getinvolvedMain h3{
        color: #3f3d75;
    
    }
    .getinvolvedMain h4{
        color: #1a2950;
    }
   
    

    
    /*getinvolved style ends here */

        
    /*Exhibition style starts here */
    .mainExhi{
        margin: 0 auto;
        width: 80%;
        text-align: center;
       
       
       
    }
    .specialeve{
        font-size: 3rem;
        font-weight: 700;
        color: #333;
        margin-top: 5rem;
        color: #3f3d75;
        text-decoration: underline;
    }
    .professorpic{       
        height: 500px;
        width: 400px;
        overflow: hidden;
    }
    .eventsvisito{
        display: flex;
        height: 600px;
        margin-top: 5%;
        margin-bottom: 10%; 
        border-bottom: 2px solid #729CA8;
    }
    .professorpic img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .eventsinfoEx{
        margin-left: 2rem;
        text-align: left;
    }
    .profetitle{
        font-size: 2rem;
        font-weight: 800;
        color: #333;
        margin-top: 1rem;
        color: #3f3d75;
      
    }
    .EveneinfOExP{
       border-left: 4px solid  #f7ff00;
    }
    .eventsinfoexpBody{
        margin-left: 4%;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 5rem;
     
    }

    .dateTime p{
        font-size: large;
        font-weight: 300;
    
       
    }
    #lasteventvisto{
        border-bottom: none;
    }
    
    #profeesorpicmiddle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 500px;
        width: 400px;
        overflow: hidden;

        position: relative;
       
    }


  
  
    #mamothpic{
       width: 85%;
       height: 200px;
        
       position: absolute;
       top: 0;       
    }

    #researchGirlpic{
       width: 60%;
       height: 160px;
       object-fit: cover;

       position: absolute;
       top: 36%;
       left: 8%;
       z-index: 20;
    
    }

    #readingkidpic{
       height: 150px;
       width: 70%;
       object-fit: contain;

       position: absolute;
       bottom: 0;
       right: 0;
       left: 50%;
       bottom: 20%;
    }
    @media screen and (max-width: 768px) {

        .eventsvisito{
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-bottom: 5%;
        }
        .professorpic{
            height:100%;
           width: 100%;
           overflow: none;
            order: 2;


        }
        .professorpic img{
        height: 500px;
        width: 100%;
        object-fit: cover;
        border-radius: 0px;
        order: 2;
        margin-bottom: 0;
    }
    .profetitle{
        order:1;
    }
    }
    @media screen and (max-width: 500px) {
        .specialeve{
            font-size: 2rem;
            font-weight: 600;
           color: #333;
           margin-top: 5rem;
          color: #3f3d75;
          text-decoration: underline;

        }
        .eventsinfoexpBody{
         font-size: 1.5rem;
         font-weight: 300;
         margin-top: 5rem;
         
     
    }
    .eventsinfoexpBody br {
        display: none;
       
         
     
    }
    .EveneinfOExP{
       border-left:none;
       text-align: none;
    
    }
    .profetitle{
        font-size: 2rem;
        font-weight: 530;
        color: #333;
        margin-top: 1rem;
        color: #3f3d75;
    }
}

    
    /*Exhibition style ends here */  
    
  
    /*contact style starts here */ 
    .mainContact{
        background-color: #3f3d75;
        margin-left: 4%;
        margin-right: 4%;
        height: 550px;
        margin-top: 5%;
        border-radius: 7px;
        display: flex;
        margin-bottom: 12%;
        padding-top: 5%;

    }
    form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 50px;
    width: 100%;
    color: white;

    border-right: 2px solid #f7ff00;
    padding-right: 7px;
   }


   .ContactForm{
    margin-left: 4%;
    width: 50%;
   }
   .ContactForm h2{
     color: white;
   }
   .btnform{
          width: 60%;
         
          border-radius: 50px;
          border: 2px solid #f7ff00;
          background-color: #3f3d75;
          color:#fff;
          font-weight: bold;
          margin-top: 10px;
          padding: 8px;
          text-align: center;
          align-content: center;
   }
     .btnform:hover{
              background-color: #f7ff00;
              color: #3f3d75;
              transition: 0.5s;
              cursor: pointer;
     }
    
     input{
          width: 300px;
          border-radius: 5px;
          border: none;
          margin-bottom: 10px;
          padding: 12px;
     }

        textarea{
            width: 300px;
          
            border-radius: 5px;
            border: none;
            margin-bottom: 10px;
            padding: 12px;
        }

        .conatctinfo{
            width: 50%;
            margin-left: 4%;
            margin-right: 4%;
            color: white;
            

            
        }

        .conatctinfo >*{
            margin: 0;
            
        }


        .conatctinfo h2{
            color: #f7ff00;
            margin-top: 5%;
        }
        .conatctinfo h6{
            color: #fff ;
            font-size: larger;
            margin-top: 5%;
        }
        @media screen and (max-width: 768px) {
            .mainContact{
                display: flex;
                flex-direction: column;
                height: 1000px;
            }
            .ContactForm{
                order: 2;
                border: none;
            }
            .conatctinfo{
                order: 1;
                border: none;
            }
           form{
            border-right: none;
           }
           .btnform{
            margin-left: 26%;
           }

        }
        @media screen and (max-width: 500px) {
            .mainContact{
                display: flex;
                flex-direction: column;
                height: 1200px;
            }
            textarea{
            width: 100%;
          
          
        }
        input{
            width: 100%;
            padding: 10px;
        }
    } 


      /*contact style ends here */  
