 /* CSS styles for navigation and footer */
 

  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

 body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Lato', sans-serif;
 } 

 nav {
     background-color: #3f3d75;
     padding: 4px;
     height: fit-content;
     font-size:x-large;

 }

 footer {
     background-color: #3f3d75;
     padding: 10px;
 }

 
 .logo {
  
     margin-top: 1%;
     margin-left: 3%;
   
 }
 .navContainer
 {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items:center;
     
 }

 .nav {
 
     margin-left: 20px;
     display: flex;
     flex-direction: row;
 }

 .nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 .nav li {
     float: left;
 }

 .nav li a {
     display: block;
     color:white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 .nav li a:hover {
     background-color: #fff;
     color:#3f3d75;
 }

 .donate {
     margin-right: 3%;
 }

 .donate button {
     background-color:white;
     border: none;
     color: #3f3d75;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }
 .donate button:hover{
     background-color: #729CA8;
     color: #fff;
     cursor: pointer;
 }
    /*Header Hamburg menu */
    .menu-icon {
        display: none;
        cursor: pointer;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .nav li {
        margin: 0 15px;
    }

    #menu-toggle {
        display: none;
    }

    
    #menu-toggle-label {
        display: none;
        cursor: pointer;
        font-size: 24px;
    }

    #menu-toggle:checked + #menu-toggle-label + .nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 60%;
        width: 20%;
        background-color: #333;
        z-index: 1;
        transition: all 0.3s ease;
    }

    #menu-toggle:checked + #menu-toggle-label {
    
        content: '✕';
    }

    /* Media query for mobile view header */
    @media screen and (max-width: 768px) {
        .nav li {
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }

        .menu-icon {
            display: block;
        }

        .donate {
            order: -1; 
        }

       
        #menu-toggle-label {
            display: block;
        }

        .nav ul {
            display: none;
        }

        #menu-toggle:checked + #menu-toggle-label + .nav ul {
            height: auto;
        }
    }
    @media all and (max-width: 500px) {
        #menu-toggle:checked + #menu-toggle-label + .nav ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 50%;
            width: 30%;
            background-color: #333;
            z-index: 1;
            transition: all 0.3s ease;
        }
        #menu-toggle-label {
           
            cursor: pointer;
            font-size: 40px;
            color: white;
            margin-left: 4%;
        }
    
    
       
    }


    /*Header Hamburg menu*/

 .hearo-main {
     margin-top: 2%;
     margin-left: 5%;
     margin-right: 5%;
     height: 400px;
     margin-bottom: 80px;
     background-image: linear-gradient(rgba(63, 61, 117, 0.7), rgba(63, 61, 117, 0.9)), url(images/jpeg-optimizer_Heropng.png);
     background-size: cover;
     position: relative;
     
     
    
   
 }
 .hearo-main p{
    color: white;
    font-size:70px;
    box-sizing: border-box ;
    border-style: none;
    margin: 0%;

  
 }
 .herotitle1 :nth-child(1){
    font-weight: 200;
 }
 .herotitle1 :nth-child(2){
    font-weight: 700;
 }

 .hearo-main img {
     width: 100%;
     height: 100%;
     opacity: 0.3;
     background-color: #9CAE81;
   
 }

 .herotitle1{
    position: absolute;
    left: 60%;
    top: 30%;
    border-bottom: 2px solid #f7ff00;
    padding-bottom: 20px;
 }

 /* CSS styles for hero image ends here */

 /* CSS styles for events section */

 .events-main {
     margin-left: 5%;
     margin-right: 5%;
     height: 140px;   
     padding: 20px;
     margin-bottom: 15px;
     
 }
 .forusMuseminfo{
    margin-left: 5%;
    margin-right: 10%;
    background-color: #edf1fa;
    height: 300px;
    width: 100;
    position: relative;
    margin-bottom: 5%;

 }
 .TotalinfoPandtir{
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 10%;
 }
    .forusMuseminfo h3{ 
        color: #3f3d75;

        font-size: large;
    }
 .forusMuseminfo p :nth-child(1){
    font-weight: 100;
}
 .forusMuseminfo p {
    font-weight:500;
 }
  
 .eventsTitle h3 {
  
     color: #3f3d75;
     margin-left: 7% ;
     font-size: large;
     border-bottom: #f7ff00 2px solid;
     width: 10%;
   

 }



 .evenethodler{

     border: 2px solid #729CA8;
     display: flex;
     height: 100%;
    
    
     
   
 }
 .eventInfo{
    width: 30%;
    color: #3f3d75;
    display: inline;
    margin-left:  20px;
    flex: 3;

    
    
}
.eventInfo p{
    color: #3f3d75;
     font-size: 25px;
     font-weight: 600;
    }
    
    
    .availabilty{
        display: flex;
        color: #3f3d75;
        border-left: 2px solid;
        border-image: linear-gradient(to bottom, transparent 10%, #729CA8 10%,#729CA8 90%, transparent 90%) 1;
        
        
    margin-left: 50px;
    }

    
    
    .availabiltyDate{
     margin-left: 12%;
     width: 100%;
     
 }
 .availabiltyTime{
    margin-left: 15%;
    border-left: 2px solid #729CA8;
    padding-left: 20px;
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, transparent 10%, #729CA8 10%,#729CA8 90%, transparent 90%) 1;
    

 }
 
 .joinbtn{
     margin-left: 10%;
     height: 100%;
     background-color:#3f3d75 ;
     color: white;
     border: none;
     padding: 56px 56px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }
 .joinbtn:hover{
     background-color: #729CA8;
     color: #fff;
     cursor: pointer;
 }
 .HomePDonate{
     height: 100px;
     margin-bottom: 80px;
     background-color: #729CA8;
     display: flex;
     margin-top: 3%;
     margin-top:6% ;
 }
 .HomePDonate p{
     color: white;
     margin-left: 30%;
     font-size: x-large;
    
     
 }

 .HomePDonate button{
     margin-left: 5%;
     margin-top: 2%;
     height: 50%;
     background-color: white;
     border: none;
     color: #729CA8;
     padding: 5px 25px;
     height: 35px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;

 }
 .HomePDonate button:hover{
     background-color: #9CAE81;
     color: #fff;
     cursor: pointer;
 }

 footer {
     background-color: #3f3d75;
     padding: 10px;
     height: 160px;
  
 }

 .footerUp{
     display: flex;
     justify-content: space-between;
     align-items:center;
     border-bottom: 2px solid white;
  
 }

 .footerLogo {
     margin-left: 5%;
 }

 .NavFooter {
     margin-right: 5%;
   
 }
 .NavFooter ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     font-size: larger;
  
  
 }

 .NavFooter li {
    margin-bottom: 10px;
  
 }

 .NavFooter li a {
     color: white;
  
  
 }

 .NavFooter li a:hover {
     color: #729CA8;
 }

 .LegalPol {
   color: white;
        
   
 }

 .LegalPol h4 {
     font-size: large;
     margin-top: 4%;
 }

 .LegalPol p {
     font-weight:100;
 }



 .contact {
     color: white;
     margin-left: 15%;
     margin-right: 12%;
     
 }

 .contact a {
     color: white;
     font-size: x-large;
     
 }


 .footerDown {
     color: white;
     margin-left: 35%;
     align-items: center;
 }
 .footerDown p {
     font-size: large;
     margin-top: 4%;
 }

 /* CSS styles for footer ends here */
 

